<!-- Config file for the game -->

<config>
 <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  <player>
    <level1 respawnX ="2" respawnY ="9" needRespawn="true"/>
    <level2  respawnX ="2" respawnY ="6" needRespawn ="false"/>
  </player>
  <map>
    <folder>maps/</folder>
  </map>
  <scene>
    <map name ="level1ND.tmx"/> 
  </scene>
  <audio>
    <volume value ="50"/>
    </audio>
   <enemies>
    
     <zombie posx="8" posy ="7"/>
     </enemies>
</config>