<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  <player>
    <level1 respawnX ="2" respawnY ="8" needRespawn="true"/>
    <level2  respawnX ="2" respawnY ="5" needRespawn ="false"/>
  </player>
  <map>
    <folder>maps/</folder>
  </map>
  <scene>
    <map name ="level1ND.tmx"/> 
  </scene>
  
   <enemies>
     <fly posx ="9" posy="7"/>
     <fly posx ="12" posy="7"/>
     </enemies>
</config>